*.gz
*.iml
*.code-workspace
.idea/*
.DS_Store
simulation/single-cluster/minikube/policy/rego/perf.txt
simulation/single-cluster/minikube/minikube-linux-amd64
simulation/single-cluster/minikube/mask.log
